<div ng-controller="managePatientController as patient">
    <h2 class="page-header">Patients List</h2>
    <table ng-table="patient.tableParams" show-filter="true" class="table table-bordered table-striped">
        <tr ng-repeat="row in $data track by row.id">
            <td title="'Id'" sortable="'id'">{{row.id}}</td>
            <td title="'Name'" filter="{patientName: 'text'}" sortable="'patientName'">{{row.patientName}}</td>
            <td title="'DOB'" sortable="'intakeDate'">{{row.dob}}</td>
            <td title="'Address'" filter="{address: 'text'}" sortable="'address'">{{row.address}}</td>
            <td>
                <input type="submit" value="Edit" class="btn" ng-click="edit(row.id)"/>
                <input type="submit" value="Delete" class="btn" ng-click="delete(row.id)" />
            </td>
        </tr>
    </table>
</div>
