<wizard on-finish="finishedWizard()">
    <wz-step title="Patient Info">
        <div class="wizard-content" data-ng-controller="createPatientController">
            <h3>Fill Patient Info</h3>
            <form role="form">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">Patient Name</label>
                            <input ng-model="patient.patientName" maxlength="30" style="width: 300px;" type="text" required="required" class="form-control" placeholder="Enter Patient Name" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">DOB</label>
                            <input ng-model="patient.dob" length="50" style="width: 300px;" type="text" required="required" class="form-control" placeholder="Enter Date of Birth" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone</label>
                            <input ng-model="patient.phone" length="50" style="width: 300px;" type="text" required="required" class="form-control" placeholder="Enter Phone Number" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Intake Date</label>
                            <input ng-model="patient.intakeDate" length="50" style="width: 300px;" type="text" required="required" class="form-control" placeholder="Enter Intake Date" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Street Address</label>
                            <input ng-model="patient.address" length="100" style="width: 500px;" type="text" required="required" class="form-control" placeholder="Enter Street Address" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input ng-model="patient.city" length="100" style="width: 500px;" type="text" required="required" class="form-control" placeholder="Enter City" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">State</label>
                            <input ng-model="patient.state" length="100" style="width: 500px;" type="text" required="required" class="form-control" placeholder="Enter State" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Zip</label>
                            <input ng-model="patient.zip" length="50" style="width: 300px;" type="text" required="required" class="form-control" placeholder="Enter Zip code" />
                        </div>
                    </div>
                </div>
            </form>
            <div class="wizard-button">
                <input type="submit" wz-next value="Next" ng-click="next(patient)" class="btn btn-primary nextBtn btn-lg" />
            </div>
        </div>
    </wz-step>
    <wz-step title="Choose Antigen">
        <div class="wizard-content" data-ng-controller="wizardAntigenController">
            <h3>Choose Antigents</h3>
            <div class="row">
                <div class="col-xs-6 col-lg-4" ng-repeat="panel in panelCollection">
                    <h4>PANEL {{panel.index}}: {{panel.name}}</h4>
                    <div ng-repeat="panelItem in panel.items">
                        <input type ="checkbox" name="positiveControl" value="positiveControl"> {{panelItem}}
                    </div>               
                </div><!--/.col-xs-6.col-lg-4-->
            </div>
            <div class="wizard-button">
                <input type="submit" wz-next value="Next" class="btn btn-primary nextBtn btn-lg" />
                <input type="submit" wz-previous value="Previous" class="btn btn-primary nextBtn btn-lg" />
            </div>
        </div>
    </wz-step>
    <wz-step title="Test Result 1">
        <div class="wizard-content" data-ng-controller="wizardTestResultController">
            <h3>Fill Test Result 1</h3>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Test Date</label><br>
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Testing Location</label><br>
                        <div class="btn-group">
                            <label class="btn btn-success" ng-model="LocationRadioModel" btn-radio="'Back'">Back</label>
                            <label class="btn btn-success" ng-model="LocationRadioModel" btn-radio="'Arms'">Arms</label>
                            <label class="btn btn-success" ng-model="LocationRadioModel" btn-radio="'Right'">Right</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Skin Testing Consent Signed</label><br>
                        <div class="btn-group">
                            <label class="btn btn-success" ng-model="SkinTestRadioModel" btn-radio="'Yes'">Yes</label>
                            <label class="btn btn-success" ng-model="SkinTestRadioModel" btn-radio="'No'">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Antihistamine</label><br>
                        <div class="btn-group">
                            <label class="btn btn-success" ng-model="AntihistamineRadioModel" btn-radio="'Yes'">Yes</label>
                            <label class="btn btn-success" ng-model="AntihistamineRadioModel" btn-radio="'No'">No</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Asthma</label><br>
                        <div class="btn-group">
                            <label class="btn btn-success" ng-model="AsthmaRadioModel" btn-radio="'Yes'">Yes</label>
                            <label class="btn btn-success" ng-model="AsthmaRadioModel" btn-radio="'No'">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Sperometry Requested</label><br>
                        <div class="btn-group">
                            <label class="btn btn-success" ng-model="SperometryReqRadioModel" btn-radio="'Yes'">Yes</label>
                            <label class="btn btn-success" ng-model="SperometryReqRadioModel" btn-radio="'No'">No</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Sperometry Performed</label><br>
                        <div class="btn-group">
                            <label class="btn btn-success" ng-model="SperometryPerfRadioModel" btn-radio="'Yes'">Yes</label>
                            <label class="btn btn-success" ng-model="SperometryPerfRadioModel" btn-radio="'No'">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="wizard-button">
                        <input type="submit" wz-next value="Next" class="btn btn-primary nextBtn btn-lg" />
                        <input type="submit" wz-previous value="Previous" class="btn btn-primary nextBtn btn-lg" />
                    </div>
                </div>
            </div>
        </div>
    </wz-step>
    <wz-step title="Test Result 2">
        <div class="wizard-content" data-ng-controller="wizardTestReportController">
            <h3>Fill Test Result 2</h3>
            <div class="row">
                <div class="col-xs-8 col-lg-8 wizard-report-panel" ng-repeat="panel in panelCollection">
                    <h4>PANEL {{panel.index}}: {{panel.name}}</h4>
                    <div class="row wizard-report-panel-item" ng-repeat="panelItem in panel.items">
                        <div class="col-md-6">
                            <label class="control-label">{{panelItem}}</label><br>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group">
                                <label class="btn btn-success" ng-model="ControlModel" btn-radio="'3'">&lt4</label>
                                <label class="btn btn-success" ng-model="ControlModel" btn-radio="'4'">4</label>
                                <label class="btn btn-success" ng-model="ControlModel" btn-radio="'5'">5</label>
                                <label class="btn btn-success" ng-model="ControlModel" btn-radio="'7'">7</label>
                                <label class="btn btn-success" ng-model="ControlModel" btn-radio="'9'">9</label>
                                <label class="btn btn-success" ng-model="ControlModel" btn-radio="'11'">11</label>
                            </div>
                        </div>
                    </div>
                </div><!--/.col-xs-6.col-lg-4-->
            </div>
            <div class="wizard-button">
                <input type="submit" wz-next value="Next" class="btn btn-primary nextBtn btn-lg" />
                <input type="submit" wz-previous value="Previous" class="btn btn-primary nextBtn btn-lg" />
            </div>
        </div>
    </wz-step>
    <wz-step title="Sign and Submit">
        <div class="wizard-content">
            <h3>Read and Sign</h3>
            <div>
                <b> Allergy Testing Information and Consent Form </b>
                <p> You physician or healthcare professional has determined that skin testing of common inhaled allergens(allergic riggers) will be helpful in treatment of your sinus ,nasal, throat or ear symptoms. Tree, grass and weed pollens common to our region will be tested in addition to a wide variety of mold spores and household irritants like dust, dust mites, and pet dander. Certain food sensitivities will be evaluated as well.
                <p> <b> Why Test for Allergies? </b>
                <p> Testing allows us to determine how likely it is that inhaled allergens play a role in your symptoms. Some  conditions like non-allergic rhinitis, infection or gastric reflux may produce symptoms identical to allergic rhinitis and can be difficult to distinguish without testing. Another important reason for testing is identification of your specific allergic triggers. Identifying your triggers is critical for serious allergy sufferers since one of the keys to effective treatment is AVOIDANCE. Testing is also the first step in formulating an alternative therapy to traditional allergy medications called immunotherapy, which may offer effective long-term suppression of allergic disease.
                <p> <b>How is Skin Testing Performed? </b>
                <p> The allergiTest skin test involves placing several plastic applicators on your back. The devices have no needles and do not break the skin. A total of 70 allergens are placed on the skin, as well as a small amount of histamine to make sure your skin is capable of producing a normal, visible skin reaction. Skin reactions are measured after 20 minutes. Itching, redness and wheals(small, itchy lumps) indicate sensitivity to a particular allergen or a normal response to histamine. If no response is seen to histamine, the test cannot be interpreted and your insurance will not be billed. The most common reason for lack of histamine response is use of antihistamines or medications that block the normal histamine response. You will be given a list of medications that may interfere with testing. Be sure to alert us if you are taking one of these.
                <p> <b> Are there Any Side Affects to Skin Testing? </b>
                <p> Skin testing is not painful and usually well tolerated other than itching and redness. We will provide a soothing cream for your back after the test. Occasionally large responses may take a few hours to clear; rarely, they may take a couple of days to clear. Let us know if a delayed reaction occurs (a wheal that develops after 2-3 days where one was not seen before). Wheezing, cough and flaring of allergy symptoms are possible with testing, especially if large skin reactions were seen. Patients taking beta-blockers or asthmatics are more likely to have these severe reactions.
                <p> <b> What About Special Needs Patients’ Allergy Skin Testing? </b>
                <p>If you are taking beta-blockers (like Toprol, Metoprolol, Inderal, Atenolol) for blood pressure control or a heart condition or have asthma that is difficult to control(frequent\wheezing, shortness of breath or frequent inhaler usage) you should have your test done FIRST thing in the morning. Do NOT take your medicine at home; bring it to take immediately following your allergy skin test.
                <p><b> Consent Statement </b>
                <p> I have read and understand the purpose of allergy testing, the testing techniques used and the risks involved as described above, and I am interested in proceeding. I understand that any allergiMed therapy that my physician prescribes will be purchased for me from allergiMed by my physician. I understand that the therapy is not mandatory and that I may refuse the therapy if I so choose. The allergiMed Immunotherapy will be shipped to my physician’s office so that I may be instructed on its use. CA and TX residents’, allergiMed will act as my agent in receiving my prescription and shipping it to its destination.
            </div>
            <div>
                <input maxlength="30" style="width: 300px;" type="text" required="required" placeholder="Patient Signature" />
                <input maxlength="30" style="width: 300px;" type="text" required="required" placeholder="Doctor Signature" />
                <p> (*)Note: this will be replaced by the digital signature widget in next release
            </div>
            <!--
                <div id="signature-pad" class="m-signature-pad">
                    <div class="m-signature-pad--body">
                        <canvas></canvas>
                    </div>
                    <div class="m-signature-pad--footer">
                        <div class="description">Sign above</div>
                        <button class="button clear" data-action="clear">Clear</button>
                        <button class="button save" data-action="save">Save</button>
                    </div>
                </div>
                -->
            <div class="wizard-button">
                <input type="submit" wz-next value="Finish" class="btn btn-primary nextBtn btn-lg" />
                <input type="submit" wz-previous value="Previous" class="btn btn-primary nextBtn btn-lg" />
            </div>
        </div>
    </wz-step>
</wizard>